Checks: >
  -*,
  readability-function-cognitive-complexity,
  bugprone-*,
  performance-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-special-member-functions

CheckOptions:
  readability-function-cognitive-complexity.Threshold: 15
  readability-function-cognitive-complexity.IgnoreMacros: false
