---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-function-cognitive-complexity,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-special-member-functions

HeaderFilterRegex: '.*/server/src/.*'

CheckOptions:
  readability-function-cognitive-complexity.Threshold: 15
  readability-function-cognitive-complexity.IgnoreMacros: false
