---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-identifier-length,
  -readability-magic-numbers

HeaderFilterRegex: '.*/server/src/.*'
WarningsAsErrors: ''

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
  - key: modernize-use-auto.RemoveStars
    value: '0'
