.DS_Store
Thumbs.db
*.log
client/node_modules/
client/out/
client/.vscode/tasks.log
client/.vscode-test/
client/package-lock.json
server/build/
server/.cache/
build/
.vscode/settings.json
client/bin/win32-x64/angel_lsp.exe
client/bin/win32-x64/angel_lsp.exe
